.warehouse__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.warehouse__section {
    display: block;
    margin-left: 15px;
}

.warehouse__header {
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0;
}

.warehouse__storage {
    margin-left: 15px;
}

.storage {
    display: flex;
}

.storage__header {
    margin-right: 15px;
}

.storage__list {
    margin-left: 15px;
    list-style-type: none;
}

.storage__table {
    max-height: 0;
    border-collapse: collapse;
    transition: .2s;
}

.storage__table td {
    width: 70px;
    padding: 2px 5px;
    border: solid 1px #222;
}

.storage__table tr:hover td {
    background-color: #ddd;
}